/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2015, 4:40:42 PM
    Author     : Nikolay Dachin <nikolay.dachin@gameloft.com>
*/

#UserSearch
{
	width: 330px;
	max-height: 32px;
	
	position: absolute;
	bottom: 65px;	
	margin: 20px;
	border-radius: 20px !important;
	
	box-shadow: 0 3px 15px 1px rgba(0,0,0,0.5);
}

#UserSearch .select2-container
{
	height: 100% !important;
	border-left: none;
	border-right: none;
}

#UserSearch .select2-choices
{
	border				: none !important;
	background-color	: transparent;
	background-image	: none; 
	box-shadow			: none; 
	height				: 100%; 
}

#UserSearch .input-group-addon:last-child
{
	color : white;
	background-color: #007aff;
	border-color: #007aff;
	border-radius: 0 15px 15px 0;
	min-width: 20px;
}
#UserSearch .input-group-addon:first-child
{
	background-color: white;
	border-radius: 15px 0 0 15px;
	min-width: 20px;
	border-right: none;
	font-size: 18px;
}

