/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2015, 12:10:02 PM
    Author     : Nikolay Dachin <nikolay.dachin@gameloft.com>
*/

	.map-container
	{
		width			: 100%; 
		height			: calc(100vh - 52px);
		overflow		: scroll;		
		
		margin-top		: -20px;
		position		: relative; 
	}
	
	.map-container svg
	{
		display		: block;
		margin		: auto;
		position	: relative;
				
		top: 0; left: 0; right:0; bottom: 0;
	}

	.Desk
	{
		cursor: pointer;
	}

	.Desk .highlight
	{
		display: none;
	}

	.Desk.selected .highlight
	{
		display:initial;
	}

	.Desk.free rect
	{
		fill: Lime !important;
	}
	
	.Desk tspan
	{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.Menu
	{
		position: fixed;
		top: 20px;
	}	
	
	.Department
	{
		opacity: 0 !important;
	}
	
	.Department:hover
	{
		opacity: 1 !important;;
	}
	
	*[ng-cloak],
	.ng-cloak
	{
		display:none;
	}
	
	.bottom-info
	{
		position: absolute;
		bottom: 15px;
		height: 30px;
		border: 1px solid silver;
		padding: 5px;
		border-radius: 0 15px 0 0;
		background: white;
	}
	
	.bottom-info > * 
	{
		margin : 2px 10px;
	}
	
	.bottom-info .free-desks
	{
		color : #00f115;
	}
	
	.bottom-info .deskless,
	.bottom-info .no-free-desks
	{
		color: Red;
	}
	
	
	
	
			