/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2015, 12:10:02 PM
    Author     : Nikolay Dachin <nikolay.dachin@gameloft.com>
*/

	.map-container
	{
		width		: 100%; 
		height		: calc(100vh - 52px);
		overflow	: scroll;		
		
		margin-top	: -20px;
		position	: relative; 
	}

	.Desk
	{
		cursor: pointer;
	}

	.Desk .highlight
	{
		display: none;
	}

	.Desk.selected .highlight
	{
		display:initial;
	}

	.Desk.free rect
	{
		fill: Lime !important;
	}
	
	.Desk tspan
	{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.Menu
	{
		position: fixed;
		top: 20px;
	}	
	
	.Department
	{
		opacity: 0 !important;
	}
	
	.Department:hover
	{
		opacity: 1 !important;;
	}
	
	
			