/*
    Created on : Jul 29, 2015, 2:59:34 PM
    Author     : tihomir.tsvetkov@gameloft.com
*/

.UserCtrl {
	background: white;
    box-shadow: 0 0 5px 2px #888888;
    border-radius: 5px;
    min-height: 200px;
	left: 20px;
	bottom: 150px;
    position: absolute;
    width: 330px;
}

.current-user {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
}

.standing-person:hover, .free_desk:hover {
	cursor: pointer;
	background: #eeeeee;
}

.free-desks-select {
	background: white;
    box-shadow: 0 0 5px 2px #888888;
    border-radius: 5px;
    height: 200px;
	left: 355px;
	bottom: 150px;
    position: absolute;
    width: 330px;
	padding: 20px;
	overflow-y: scroll;
}

.user-picture {
	max-width: 120px;
	max-height: 100px;
	margin-left: 10px;
	margin-top: 10px;
}

.big-picture {
	position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.user-name {
	font-weight: bolder;
	font-size: 24px;
}

.user-office-info {
	margin: 5px 15px;
}

.user-mail {
	font-size: 12px;
	margin: 5px 10px;
}

div.user-position, div.user-name {
	margin-left: 20px;
}

#user-lname {
	margin-top: -10px;
}

.edit {
	border-bottom: 2px solid #007aff;
}

.edit-ok, .edit-leave {
	font-size: 25px;
}
.edit-ok:hover, .edit-leave:hover {
	cursor: pointer;
}

.edit-ok {
	color: #007aff;
	margin: -29px 155px;
	padding-left: 0px;
}

.edit-leave {
	color: #db2525;
	margin: -29px 190px;
	padding-left: 0px;
}

.lock {
	font-size: 20px;
	margin: 5px -25px;
	color: #888888;
}

.lock:hover {
	cursor: pointer;
	color: #000000;
}

.loader-image {
	width: 293px;
	height: 168px;
	overflow: hidden;
}

.loader {
	background: white;
    box-shadow: 0 0 5px 2px #888888;
    border-radius: 5px;
    height: 200px;
	left: 20px;
	bottom: 150px;
    position: absolute;
    width: 330px;
	padding: 20px;
}

.UserCtrl .fa-user-secret {
	font-size: 92px;
	margin: 17px 25px;
}